<article>
    <div id="header">
        @if (id != null) {
            <button type="button" id="back-button" (click)="backEvent()"><img id="back-arrow" src="../../assets/back-arrow.svg"></button>
        }
        <div class="title">
            @if (id == null) {
                <h2>All categories</h2>
            } @else {
                <h2>List of child categories of {{parentCategory?.name}}</h2>
            }
        </div>
    </div>

    <app-search-bar [id]="id" (orderByNameChange)="onNewOrderByNameValue($event)"
    (orderByCreationDate)="onNewOrderByCreationDate($event)"
    (orderByNumberOfChildren)="onNewOrderByNumberOfChildren($event)"
    (isRootChange)="onNewIsRoot($event)"
    (afterDateChange)="onNewAfterDate($event)"
    (beforeDateChange)="onNewBeforeDate($event)"
    ></app-search-bar>

    <div class="list">
    @for (category of childrenCategory; track $index) {
        <div class="category" [routerLink]="['/list', category.id]">
            <div class="img_column">
                <img src="../../assets/arrow-right.png" />
            </div>
            <div>
                <p class="name">{{category.name}}</p>
            </div>
            <div class="date">
                <p>{{category.creationDate.toLocaleString()}}</p>
            </div>
        </div>
    }
    </div>
</article>
<aside>
    <div class="nav-button">
        <button id='plus' (click)="showCreatePopUp()">
            <img src="../../assets/create.svg" />
        </button>
    </div>
</aside>

<div id="create-category-popup" [hidden]="isHiddenPopUp">
    <app-create-category [parentId]="id" (hiddenChange)="hidePopUp()"></app-create-category>
</div>

