<form class="search-bar">
    <div class="wrapped">
        @if (id == null) {
            <div class="field-input">
                <select id="isRoot" (input)="onNewIsRoot($event)">
                    <option value="yes">Only root elements</option>
                    <option value="no">Only non-root elements</option>
                    <option value="all">All elements</option>
                </select>
            </div>
        }
        <div class="field-input">
            <label class="date-label">After date: </label>
            <input type="date" id="afterDate" (input)="onNewAfterDate($event)">
        </div>
        <div class="field-input">
            <label class="date-label">Before date: </label>
            <input type="date" id="beforeDate" (input)="onNewBeforeDate($event)">
        </div>
    </div>
    <div class="wrapped">
        <div class="field-input">
            <input type="checkbox" id="orderByName" (input)="onNewOrderByNameValue($event)" checked="true">
            <label>Order by name</label>
        </div>
        <div class="field-input">
            <input type="checkbox" id="orderByCreationDate" (input)="onNewOrderByCreationDate($event)">
            <label>Order by date of creation</label>
        </div>
        <div class="field-input">
            <input type="checkbox" id="orderByNumberOfChildren" (input)="onNewOrderByNumberOfChildren($event)">
            <label>Order by number of children</label>
        </div>
    </div>
</form>
