:root {
    width: 100%;
}

.search-bar {
    width: 70%;
    padding: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #073C9B;
    border-radius: 2rem 2rem;
}

label {
    color: white;
}

.field-input {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.wrapped {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

select {
    width: 100%;
    border: 0;
    border-bottom: 2px solid lightgray;
    outline: 0;
    font-size: 1rem;
    color: white;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    option {
        color: black;
    }
}


input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    color: white;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid white;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
    margin-right: 3%;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(white);
    /* Windows High Contrast Mode */
    background-color: white;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid white;
    outline-offset: max(2px, 0.15em);
}

.date-label {
    padding-right: 2%;
    white-space: nowrap;
}