<div id="create_category">
    @if(parentId == null) {
        <h2>Create a new root category</h2>
    }
    @else {
        <h2>Create a new category from {{parentCategory?.name}}</h2>
    }
    
    <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
        <label id="category_name" for="name">
            <input type="text" id="name" placeholder="&nbsp;" formControlName="name">
            <span class="label">New category name:</span>
            <span class="focus-bg"></span>
        </label>

        <button  type="submit" id="submit" value="send">Send</button>
    </form>
</div>
